figure.highlight {
  background   : #e6ebf1;
  border-radius: 5px;
}

.markdown-body .highlight pre,
.markdown-body pre {
  padding: 8px 10px;
}

/* figure.highlight pre,
figure.highlight pre {
  padding                : 5px 10px !important;
  border-radius          : 5px;
  border-top-left-radius : 0;
  border-top-right-radius: 0;
} */

[data-user-color-scheme='dark'] figure.highlight {
  background   : #1d1f23;
  position     : relative;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); */
}

figure.highlight table {
  border-radius          : 5px;
  border-top-left-radius : 0;
  border-top-right-radius: 0;
}

figure.highlight .iconfont.icon-regular-down {
  transform : none;
  transition: transform 0.2s ease-in-out;
}

figure.highlight .iconfont.icon-regular-down.collapsed {
  transform: rotate(-90deg);
}

figure.highlight>i {
  color      : #777;
  margin-left: 10px;
  line-height: 2rem;
}

figure.highlight>span {
  color      : #777;
  margin-left: 10px;
  font-weight: bold;
}

figure.highlight td:first-child {
  position: sticky;
  left    : 0;
  z-index : 1;
}

.copy-btn {
  top      : 5px;
  font-size: 1rem;
}

.copy-btn>i {
  font-size  : 0.875rem;
  font-weight: bold;
}

.copy-btn-dark {
  color: #2f4f4f;
}

figure.highlight .iconfont.icon-regular-down.rotate {
  transform: rotate(-90deg);
}

/* 折叠 */
figure.highlight .iconfont.icon-regular-down.collapsed {
  transform: rotate(-90deg) !important;
}

/* 复制按钮 */
.copy-right {
  cursor   : pointer;
  float    : right;
  position : relative;
  top      : 0;
  right    : 10px;
  font-size: 16px;
}

.code-wrapper .code-lang {
  font-weight: bold;
}

.copy-tip {
  float      : right;
  font-size  : 14px;
  position   : relative;
  top        : 5px;
  right      : 8px;
  margin-left: 0;
  font-weight: normal !important;
}

td.code {
  white-space: pre !important;
}